.commentsField {
  margin-top: 64px;
}

.emptyStar {
  fill: #d9e1e3;
}

.goBackIcon {
  position: absolute;
  top: 12px;
  left: 12px;
}

.itemImage {
  max-width: 717px;
  max-height: 477px;
  min-width: 50%;
  object-fit: fill;
}

.input {
  border-color: red;
}

.ratingNumber {
  color: #776005;
  margin: 0 25px;
  text-align: center;
  vertical-align: middle;
  width: 10px;
  z-index: 2;
}
